
<% msg = @current_job ? @current_job["Name"] : ""%>

<div id="geo">Waiting for Location...</div>
<%= params[:notes] %>
<% if @invalid_user %>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      You are currently not set up in Gingko.  
      Ask your Manager to be added or email Gingko support at service@gingko.com
    </li>
  </ul>
<% else %>
  <ul class="list-group">
    <li class="list-group-item">
      Current Timesheet:</br>
      <% if @current_timesheet %>
        Start: <div id="ts"><%= @current_timesheet.try(:[],'Time In') %></div>
        <%= "Job: #{msg}" %>
      <% else %>
        No Current Timesheet
      <% end %>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <% unless @current_job %>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <%= link_to "Start", timesheets_start_path, class: "btn btn-primary" %>
          </div>
        <% else %>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <%= link_to "Stop with Message", timesheets_endmessage_path, class: "btn btn-primary" %>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <%= link_to "Stop", timesheets_end_path, class: "btn btn-primary" %>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <%= link_to "Switch", timesheets_start_path, class: "btn btn-primary" %>
          </div>
        <% end %>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <%= link_to "TimeSheets", timesheets_path , class: "btn btn-primary" %>
          </div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <%= link_to "Add Receipt", receipts_path, class: "btn btn-primary" %>
        </div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Support:
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a href="https://www.mygingko.com/mobile.html", class="btn btn-primary" >
            Help Centre
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Contact Us:
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a href="tel:18664464561,1", class="btn btn-primary" >
            Phone: 1-866-446-4561 ext. 1
          </a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a href="mailto:chad@mygingko.com", class="btn btn-primary">
            Email: support@mygingko.com
          </a>
        </div>
      </div>
    </li>
  </ul>
<% end %>



<script type="text/javascript">
  if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }

            var xhttp = new XMLHttpRequest();
            xhttp.open("Get", "/location.json?lat="+pos.lat+"&lng="+pos.lng, true);
            xhttp.send();
            document.getElementById("geo").innerHTML = "Location Found: (" + pos.lat + " " + pos.lng +")";
          })};
  
  var ts = document.getElementById("ts");
  if (ts) {
    var date = new Date(ts.innerHTML);
    date.toString();
    document.getElementById("ts").innerHTML = date;
  };
  
</script>